*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.btn-primary{
  color: white !important;
}
.panel .panel-heading h1{
  margin-right: 30px;
}
.panel .panel-heading{
  display: flex;
  align-items: center;
}
.panel .panel-heading form {
  width: 100%;
}